@import "utils/variables";
@import "utils/base";
@import "utils/mixin";

@import "components/restaurants";
@import "components/footer";
@import "components/header";




/*********************Main********************/

/*********Position********/

.position {
   background-color: $background-color_2;
   color: $color_2;
   padding: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;


   &__icon {
      font-weight: 900;
      margin-right: 15px;
   }

   &__text {
      font-size: 16px;
      font-weight: 500;
   }
}

/**********Intro***********/
.intro {
   padding: 40px 20px 60px;
   background-color: $background-color;
   text-align: center;

   &__title {
      margin: 0;
   }

   &__subtitle {
      font-weight: 300;
      font-size: 18px;
      padding-bottom: 25px;
   }
}

.btn {
   color: $secondary-color;
   font-weight: 400;
   padding: 16px 22px;
   border-radius: 25px;
   background: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
   @include box-shadow;
}

/*********Fonction***********/

.fonction {
   padding: 30px 20px;

   &__container {

      @media (min-width: 1024px) {
         margin: auto;
         max-width: 1440px;

      }
   }

   &__steps {
      list-style: none;
      gap: 25px;
      display: flex;
      flex-direction: column;
      padding: 15px 0 0;
      margin: 0;
      justify-content: space-between;
      

      @media (min-width: 1024px) {
         flex-direction: row;
         
      }

   }

   &__step {
      background-color: $background-color;
      border-radius: 20px;
      font-weight: 500;
      padding: 28px 36px;
      @include box-shadow;


      @media (min-width: 1024px) {
         width: 100%;   
      }
   }

   &__number {
      background-color: $primary-color;
      color: $secondary-color;
      position: absolute;
      transform: translateX(-185%);
      padding: 4px 9px;
      border-radius: 50px;
      font-size: 14px;

   }

   &__icon {
      font-weight: 900;
      margin-right: 20px;

   }
}

.fonction__step:hover {
   color: #9356DC;
 }


