.shrikhand-regular {
   font-family: "Shrikhand", serif;
   font-weight: 400;
   font-style: normal;
}

body {
   font-size: 16px;
   padding: 10px;
   font-family: roboto, sans-serif;

}

header {
   display: flex;
   justify-content: center;
   height: 63px;
   align-items: center;
   background-color: #ffff;
}

.header-logo {
   font-family: shrikhand, cursive;
   font-size: 30px;
   text-decoration: none;
   color: #101010;
}


