/*******button intro*********/

.btn {
    color: $secondary-color;
    font-weight: 400;
    padding: 16px 22px;
    border-radius: 25px;
    background: $background-color_4;
    @include box-shadow;
    transition: .3s ease-in-out;

    &:hover {
        @include hover-effect;
        

    }

}