
/*******button intro*********/

.btn {
    color: $secondary-color;
    font-weight: 400;
    padding: 16px 22px;
    border-radius: 25px;
    background: $background-color_4;
    @include box-shadow;
 
    &:hover {
       @include hover-effect;
    }
 
 }


/*********button card heart*********/

.card {
    &__icon {
        position: relative;
        font-size: 24px;

        .heart-checkbox {
            display: none;
        }

        .heart,
        .heart-hover {
            transition: opacity 0.3s ease;
            position: absolute;
            right: -5px;
        }

        .heart-hover {
            opacity: 0;
            color: transparent;
            background: $background-color_4;
            background-clip: text;
        }

        &__heart {
            opacity: 1;
        }

        .heart-checkbox:checked~.heart-hover {
            opacity: 1;
        }

        .heart-checkbox:checked~.heart {
            opacity: 0;
        }

    }

}


/*************button menu*************/

.menu {
    
    &__icon {
        font-size: 32px;


        .heart-checkbox {
            display: none;
        }

        .heart,
        .heart-hover {
            transition: opacity 200ms ease-in-out;
            position: absolute;
            right: 35px;
            top: 38px;

            @include respond-to($desktop) {
                position: absolute;
                top: 38px;
                right: auto
            }
        }

        .heart-hover {
            opacity: 0;
            color: transparent;
            background: $background-color_4;
            background-clip: text;
        }

        &__heart {
            opacity: 1;
        }


        .heart-checkbox:checked~.heart-hover {
            opacity: 1;
        }

        .heart-checkbox:checked~.heart {
            opacity: 0;
        }
    }
}