$font-family_1: roboto, sans-serif;
$font-family_2: shrikhand, cursive;


/****************Général****************/

* {
   font-family: $font-family_1;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}


body {
   margin: 0;

}

