.header {

    &__arrow {
        position: absolute;
        color: $color_1;
        font-size: 18px;
        left: 25px;

    }
}

.banner {

    & img {
        width: 100%;
        height: 360px;
        object-fit: cover;

    }
}

.menu {

    border-radius: 40px 40px 0 0;
    background-color: $background-color;
    position: relative;
    margin-top: -50px;
    padding: 1em;

    @media (min-width: 1024px) {
        margin-left: 16%;
        margin-right: 16%;
    }

    &__header {

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 1024px) {
            justify-content: center;
            gap: 24px;

        }
    }

    &__icon {
        font-size: 32px;


        .heart-checkbox {
            display: none;
        }

        .heart,
        .heart-hover {
            transition: opacity 200ms ease-in-out;
            position: absolute;
            right: 35px;
            top: 38px;

            @media (min-width: 1024px) {
                position: absolute;
                top: 38px;
                right: auto
            }
        }

        .heart-hover {
            opacity: 0;
            color: transparent;
            background: $background-color_4;
            background-clip: text;
        }

        &__heart {
            opacity: 1;
        }


        .heart-checkbox:checked~.heart-hover {
            opacity: 1;
        }

        .heart-checkbox:checked~.heart {
            opacity: 0;
        }

    }

    &__title {

        font-family: $font-family_2;
        font-size: 24px;
        color: $color_1;

    }


    &__lists {
        display: flex;
        flex-direction: column;

        @media (min-width: 1024px) {

            margin-left: 12em;
            margin-right: 12em;
        }
    }

    & h3 {
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        position: relative;

        &:after {
            content: "";
            width: 40px;
            height: 3px;
            background-color: $color_7;
            position: absolute;
            left: 0;
            top: 24px;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        margin: 3em;
    }

    &__cmd {

        padding: 15.5px 48.5px;
        color: $secondary-color;
        border-radius: 25px;
        background: $background-color_4;
        @include box-shadow;
        border: none;

        &:hover {
            @include hover-effect;
        }

    }
}

.list {

    background-color: $color_5;
    border-radius: 15px;
    padding: 12px;
    margin-bottom: 14px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    @include box-shadow;



    &__content,
    &__title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

    }


    &__title {
        margin: 0;

    }

    &__subtitle {
        font-weight: 300;
        font-size: 12px;
        margin: 0;
    }

    &__price {
        font-weight: 700;
        font-size: 14px;
        color: $color_2;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        transition: .5s ease-in-out;
    }

    &__order {
        position: absolute;
        background-color: $color_7;
        color: $color_5;
        font-size: 18px;
        padding: 18px;
        right: 0px;
        top: 0px;
        border-radius: 0 15px 15px 0;
        transform: translateX(60px);
        transition: .5s ease-in-out;

    }

    &__icon {
        transform: rotate(0deg);
        transition: .5s ease-in-out;
    }


    &:hover {
        cursor: pointer;

        .list__price {
            margin-right: 3rem;
        }

        .list__order {
            transition: .5s ease-in-out;
            transform: scale(1.01);
        }
    }
}