
$primary-color: #9356DC;
$secondary-color: #fff;
$background-color: #f6f6f6;
$background-color_2: #eaeaea;
$background-color_3: #9256dc21;
$background-color_4: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
$background-color_5: #f3eff7;

$color_1: #101010;
$color_2: #353535;
$color_3: #000;
$color_4: #008766;
$color_5: #fff;
$color_6: #FF79DA;
$color_7: #99e2d0;

$desktop: 1024px;


