.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba($color_5, 0.95);
    animation: loader 0.1s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
        height: 1rem;
        width: 1rem;
        border-radius: 1rem;
        animation: bounce 1s ease-in-out;
        
        &:nth-child(1) {
            animation-delay: .1s;
            background-color: $primary-color;
        }
        &:nth-child(2) {
            animation-delay: .3s;
            background-color: $color_6;
        }
        &:nth-child(3) {
            animation-delay: .5s;
            background-color: $color_7;
        }
    }

    &__container {
        display: flex;
        width: 5rem;
        justify-content: space-between;
      }
}